@font-face {
    font-family: 'Retro';
    src: url('../fonts/ByteBounce.ttf');
}

@font-face {
    font-family: 'Retro Body';
    src: url('../fonts/videoGameTwoReg.woff2');
}

:root{
  --primary: #10114A;
  --secondary: #090a31;
  --accent:  #6F1313;
  --dark-accent: #360909;
  --font: white;
}

.dark-theme{
  --primary: #10114A;
  --secondary: #090a31;
  --accent:  #6F1313;
  --dark-accent: #360909;
  --font: white;
}

.light-theme{
  --primary: #CBE3F5;
  --secondary: #DFF3FF;
  --accent:  #FFBFE3;
  --dark-accent: #FFFFFF;
  --font: black;
}



html {
  scroll-behavior: smooth;
}

section::before {
  content: "";
  display: block;
  height: 100px; 
  margin-top: -80px;
  visibility: hidden;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--font);
  
}

code {
  font-family: 'source-code-pro, Menlo, Monaco, Consolas, 'Courier New','
    monospace;
}

* {
  font-family: 'Retro Body';
  box-sizing: border-box;
}

.content {
  padding-top: 20px ;
}


/* Navbar styles */
.navbar {
  background-color: var(--primary);
  width: 100%;
  position: fixed;
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;
  z-index: 100;
}

.navbar .nav-items {
  display: flex;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
}


.navbar .links {
  padding-top: 2%;
  display: flex;
  gap: 24px; 
  font-size: 18px;

}

.navbar a {
  padding: 10px;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--font);
  
}

.navbar a:hover {
  color: var(--accent);
}

/* Toggle Styling */

.button input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.button label
{
    display: block;
    position: absolute;
    top: 50%;
    width: 116px;
    height: 56px;
    margin: 0 auto;
    background-color: #77b5fe;
    border-radius: 56px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s ease background-color;
    overflow: hidden;
}

#star
{
    position: absolute;
    top: 13px;
    left: 13px;
    width: 30px;
    height: 30px;
    background-color: #fafd0f;
    transform: scale(1);
    border-radius: 50%;
    transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform, 0.3s ease background-color;
    z-index: 1;
}

#star-1
{
    position: relative;
}

#star-2
{
    position: absolute;
    transform: rotateZ(36deg);
}

.star
{
    top: 0;
    left: -7px;
    font-size: 54px;
    line-height: 28px;
    color: #fafd0f;
    transition: 0.3s ease color;
}

#moon
{
    position: absolute;
    bottom: -52px;
    right: 8px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease bottom;
}

#moon:before
{
    content: "";
    position: absolute;
    top: -12px;
    left: -17px;
    width: 40px;
    height: 40px;
    background-color:#03a9f4;
    border-radius: 50%;
    transition: 0.3s ease background-color;
}

#toggle_checkbox:checked + label
{
    background-color: #000;
}

#toggle_checkbox:checked + label #star
{
    top: 3px;
    left: 64px;
    transform: scale(0.3);
    background-color: yellow;
}

#toggle_checkbox:checked + label .star
{
    color: yellow;
}

#toggle_checkbox:checked + label #moon
{
    bottom: 8px;
}

#toggle_checkbox:checked + label #moon:before
{
    background-color: #000;
}




/* Landing page styles */

.landing {
  text-align: center;
  font-size: 50px;
  padding-top: 12%;
  padding-bottom: 12%;
}

.landing .first {
  margin-bottom: -50px;
  text-decoration: underline;
  text-decoration-thickness: 25px;
  text-underline-offset: 15px;
  text-decoration-color: var(--accent);
}

/* About page styles */

.aboutOuter {
    padding-left: 5%;
    padding-right: 5%;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 30px;
}

.about h1 {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 10px;
}

@media (min-width: 768px) {
  .about {
    flex-direction: row;
    align-content: center;
    padding-left: 5%;
    padding-right: 10%;
    gap: 60px;
    align-items: center;
  }
}


.about .info {
  text-align: left;
  align-content: center;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 5%;
}


.about .headshot img{
  max-width: 250px;
  max-height: 250px;
  border-radius: 10px;
  align-content: center;
}

/* Languages Styling */

.languages {
    padding-left: 5%;
    padding-right: 5%;
}

.languages p {
  font-size: 18px;
}

.lang-box {
  display: flex;
  gap: 2%;
  margin-bottom: 4%; 
}

.languages img {
  max-width: 100px;
  max-height: 100px;
}

.languages .info h1 {
  margin-bottom: -5px;
}




/* Portfolio styling */


.portfolio {
  color: var(--font);
  font-size: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 15%;
}

.portfolio .header h1 {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 10px;
}


.portfolioItem {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 5%;
  align-items: start;
}



.portfolioItem .portfolio-list {
  max-width: 100%;
  padding: 1%;
  border: 2px solid #000000;
  background-color: var(--secondary);
  border-radius: 20px;
}

.portfolioItem .portfolio-list .info {
  padding: 3%;
}


.portfolioItem .portfolio-list img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: -20px;
  opacity: 1;
  display: block;
  transition: .3s ease;

}

.portfolioItem .portfolio-list h1 {
  margin-bottom: -10px;
}

.portfolioItem .portfolio-list:hover {
  box-shadow: 1px 3px 5px var(--font);
}

.container {
  position: relative;
  width: 100%;
}


.middle {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  gap: 20px;
}

.container:hover img {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;

}

.github-icon-1 {
  color: black;
  font-size: 48px;
  background-color: white;
  border-radius: 24px;
}

.game-icon {
  color: white;
  background-color: black;
  font-size: 48px;
  border-radius: 24px;
}

.portfolioItem .language-icons{
  display: flex;
  padding: 2%;
  gap: 5%;
  font-size: 48px;
  color: var(--font);
  background-color: var(--accent);
  border-radius: 40px;
  padding-left: 5%;
  justify-items: center;
}


/* Contact Styling */

.contact {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 4%;
}

.contact h1 {
  font-size: 30px;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 10px;
}

.contact .reasons p {
    font-size: 23px;
    max-width: 300px;
}

.contact .reasons {
  display: flex;
  gap:15%;
}

.contact .info p {
    font-size: 23px; 
}

.contact h2 {
  font-size: 60px;
}


.contact .contact-form {
  display: flex;
  gap: 10%;
  
}

.contact .info {
  width: 50%;
  align-content: center;
 
}

.contact .form {
  margin-top: 5%;
  width: 50%;
  align-content: center;
}



/* Contact Form Styling */

.contact-me {
  background-color: var(--accent);
  border-radius: 40px;
  padding: 7%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 25px;
}

.contact-me label {
  display: block;
  margin-bottom: 2%;
}

.contact-me input, textarea{
  background-color: var(--dark-accent);
  color: var(--font);
  width: 100%;
  height: 40px;
}

.contact-me textarea{
  height: 80px;
}



/* Flipcard Styling */

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
 background-color:var(--secondary);
 padding: 15px;
 text-align: center;
 border: 1px #f2f2f2 solid;
}

.flip-card-back {
  background-color: var(--secondary);
  padding: 15px;
  text-align: center;
  border: 1px #f2f2f2 solid;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  gap: 23%;
  padding-top: 8%;

}

.github-icon-2 {
  color: var(--font);
  font-size: 3vw;
  background-color: transparent;
  border-radius: 22px;
}

.linkedin-icon-1 {
  color: var(--font);
  font-size: 3vw;
  background-color: transparent;
}

.email-icon-1 {
  color: var(--font);
  font-size: 3vw;
  background-color: transparent;
}





/* Footer Styling */

.footer {
  background-color: var(--secondary);
  padding: 2%;
}








