@font-face {
    font-family: 'Retro';
    src: url('../fonts/ByteBounce.ttf');
}

@font-face {
    font-family: 'Retro Body';
    src: url('../fonts/videoGameTwoReg.woff2');
}

html {
  scroll-behavior: smooth;
}

section::before {
  content: "";
  display: block;
  height: 100px; 
  margin-top: -80px;
  visibility: hidden;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #10114A;
  color: white;
  
}

code {
  font-family: 'source-code-pro, Menlo, Monaco, Consolas, 'Courier New','
    monospace;
}

* {
  font-family: 'Retro Body';
  box-sizing: border-box;
}

.content {
  padding-top: 20px ;
}


/* Navbar styles */
.navbar {
  background-color: #10114A;
  width: 100%;
  position: fixed;
  padding: 30px;
  border-bottom: 1px solid #f2f2f2;
  z-index: 100;
}


.navbar .links {
  display: flex;
  gap: 24px; 
  font-size: 18px;
  justify-content: flex-end;
}

.navbar a {
  padding: 10px;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: white;
  
}

.navbar a:hover {
  color:brown;
}


/* Landing page styles */

.landing {
  text-align: center;
  font-size: 50px;
  padding-top: 12%;
  padding-bottom: 12%;
}

.landing .first {
  margin-bottom: -50px;
}

/* About page styles */

.aboutOuter {
    padding-left: 5%;
    padding-right: 5%;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 30px;
}

.about h1 {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 10px;
}

@media (min-width: 768px) {
  .about {
    flex-direction: row;
    align-content: center;
    padding-left: 5%;
    padding-right: 10%;
    gap: 60px;
    align-items: center;
  }
}


.about .info {
  text-align: left;
  align-content: center;
  font-size: 20px;
  line-height: 35px;
}


.about .headshot img{
  max-width: 250px;
  max-height: 250px;
  border-radius: 10px;
  align-content: center;
}

/* Languages Styling */

.languages {
    padding-left: 5%;
    padding-right: 5%;
}

.lang-box {
  display: flex;
  gap: 2%;
  margin-bottom: 4%; 
}

.languages img {
  max-width: 100px;
  max-height: 100px;
}

.languages .info h1 {
  margin-bottom: -5px;
}






/* Portfolio styling */

.portfolio {
  color: white;
  font-size: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.portfolio h1 {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 10px;
}


.portfolioItem {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 5%;
}



.portfolioItem .portfolio-list {
  max-width: 100%;
  height: auto;
  padding: 1%;
  border: 2px solid #000000;
  background-color: #090a31;
  border-radius: 20px;
}

.portfolioItem .portfolio-list .info {
  padding: 3%

}


.portfolioItem .portfolio-list img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: -20px;
  opacity: 1;
  display: block;
  transition: .3s ease;

}

.portfolioItem .portfolio-list h1 {
  margin-bottom: -10px;
}

.portfolioItem .portfolio-list:hover {
  box-shadow: 1px 3px 5px white;
}

.container {
  position: relative;
  width: 100%;
}


.middle {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover img {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.github-icon-1 {
  color: black;
  font-size: 48px;
  background-color: white;
  border-radius: 22px;
}


/* Contact Styling */

.contact {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 4%;
}

.contact h1 {
  font-size: 30px;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 10px;
}

.contact p {
  font-size: 23px;
  max-width: 300px;
}

.contact h2 {
  font-size: 60px;
  max-width: 33%;
}

.contact .reasons {
  display: flex;
  gap:15%;
}


/* Flipcard Styling */

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
 background-color: #090a31;
 padding: 15px;
 text-align: center;
 border: 1px #f2f2f2 solid;
}

.flip-card-back {
  background-color: #090a31;
  padding: 15px;
  text-align: center;
  border: 1px #f2f2f2 solid;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  gap: 23%;
  padding-top: 8%;

}

.github-icon-2 {
  color: white;
  font-size: 3vw;
  background-color: transparent;
  border-radius: 22px;
}

.linkedin-icon-1 {
  color: white;
  font-size: 3vw;
  background-color: transparent;
}

.email-icon-1 {
  color: white;
  font-size: 3vw;
  background-color: transparent;
}


/* Footer Styling */

.footer {
  background-color: #090a31;
  padding: 2%;
}






